<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: File Metadata Microservice</h2>
        <% if (files) { %>
          <% files.forEach(file => { %>
            <div class="file-container">
              <p><%= file.filename.slice(29).replace(/--/g, '') %></p>    
              <a href="/api/download/<%= file.filename %>" >Download file</a>
            </div>
          <% }) %>
        <% } %>
      </div>
      <div class="footer">
        <p>
          by 
          <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>
   </body>
</html>
