<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: File Metadata Microservice</h2>
          <% if (filesData) { %>
            <div class="file-data">
              <h3>File(s) uploaded.</h3>
              <% filesData.forEach(file => { %>
                <p><%= JSON.stringify(file) %></p>
              <% }) %>
              <a href="/api/download">Download file(s) here</a>
            </div>
          <% } %>
      </div>
      <div class="footer">
        <p>
          by 
          <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>
   </body>
</html>
