/****** Main Styling ******/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #ECF0F1;
  text-align: center;
  overflow-x: hidden;
}

.container {
  padding: 0;
  margin-top: 40px;
}

#dl-link {
  display: block;
  font-size: 18px;
  margin-top: 1rem;
}

.footer {
  margin-top: 60px;
}

a {
  color: #2574A9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 230px;
}

.view {
  position:relative;
  margin: auto;
  margin-top: 40px;
  border: 1px  solid  #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}

.file-container {
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
}

.file-container p {
  max-width: 300px;
  margin-right: 10px;
}
